
package views

import "nice/views/components"

templ Hello() {
	@components.Header()
	<form hx-post="/write">
		<input type="text" name="title" placeholder="title"/>
		<input type="text" name="Author" placeholder="author"/>
		<textarea name="content"></textarea>
		<input type="submit" value="done!"/>
	</form>
}
